In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



#suppress pandas SettingWithCopyWarning

pd.options.mode.chained_assignment = None

In [79]:
df1 = pd.read_csv('../econforecasting/data/GDP.csv')
df2 = pd.read_csv('../econforecasting/data/GDPC1.csv')
df3 =  pd.read_csv('../econforecasting/data/JTS3400JOL.csv')
df4 = pd.read_csv('../econforecasting/data/LNS13026638.csv')
df5 = pd.read_csv('../econforecasting/data/LNS14000024.csv')
df6 = pd.read_csv('../econforecasting/data/LNS14032183.csv')
df7 = pd.read_csv('../econforecasting/data/MICH.csv')
df8 = pd.read_csv('../econforecasting/data/NROU.csv')
df9 = pd.read_csv('../econforecasting/data/UNRATE.csv')
df10 = pd.read_csv('../econforecasting/data/USARECD.csv')
df11 = pd.read_csv('../econforecasting/data/USRECD.csv')
df12 = pd.read_csv('../econforecasting/data/CORESTICKM159SFRBATL.csv')
df13 = pd.read_csv('../econforecasting/data/CPIAUCSL.csv')
df14 = pd.read_csv('../econforecasting/data/CUUR0000SA0R.csv')
df15 = pd.read_csv('../econforecasting/data/A939RX0Q048SBEA.csv')

           DATE  USRECD
0    2020-12-15       0
1    2020-12-16       0
2    2020-12-17       0
3    2020-12-18       0
4    2020-12-19       0
..          ...     ...
457  2022-03-17       0
458  2022-03-18       0
459  2022-03-19       0
460  2022-03-20       0
461  2022-03-21       0

[462 rows x 2 columns]

In [86]:
df = df1

# Iterate through the remaining dataframes and merge them
for i in range(2, 16):  # range(2, 16)
    df = pd.merge(df, globals()[f'df{i}'], how='outer', on='DATE')

df = df.dropna(thresh=10)

df = df.rename(columns={
    'GDPC1': 'Real GDP',
    'JTS3400JOL': 'Job Openings in Manufacturing',
    'LNS13026638': 'Permanent Job Losers',
    'LNS14000024': 'Unempl: 20y+',
    'LNS14032183': 'Unempl: Asian',
    'MICH': 'UofM Infl Expectation',
    'NROU': 'Unempl Noncyclical',
    'UNRATE' : 'Unempl Rate',
    'USRECD': 'NBER Recess Indic',
    'USARECD': 'OECD Recess Indic',
    'A939RX0Q048SBEA': 'Real GDP per capita',
    'CORESTICKM159SFRBATL': 'Sticky-Price CPI',
    'CPIAUCSL': 'All Urban Consumer CPI',
    'CUUR0000SA0R': 'Purch. Power of Consumer Dollar in cities',
})
df.head()

,DATE,GDP,Real GDP,Job Openings in Manufacturing,Permanent Job Losers,Unempl: 20y+,Unempl: Asian,UofM Infl Expectation,Unempl Noncyclical,Unempl Rate,OECD Recess Indic,NBER Recess Indic,Sticky-Price CPI,All Urban Consumer CPI,Purch. Power of Consumer Dollar in cities,Real GDP per capita
660,1968-01-01,909.387,5057.553,NaN,NaN,3.0,NaN,NaN,5.792286,3.7,NaN,NaN,3.651861,34.1,293.3,25288.0
663,1968-04-01,934.344,5142.033,NaN,NaN,2.7,NaN,NaN,5.803658,3.5,NaN,NaN,4.155828,34.4,290.3,25652.0
666,1968-07-01,950.825,5181.859,NaN,NaN,2.7,NaN,NaN,5.815176,3.7,NaN,NaN,4.753076,34.9,286.4,25781.0
669,1968-10-01,968.030,5202.212,NaN,NaN,2.6,NaN,NaN,5.826905,3.4,NaN,NaN,5.182592,35.3,283.1,25813.0
672,1969-01-01,993.337,5283.597,NaN,NaN,2.6,NaN,NaN,5.838901,3.4,NaN,NaN,5.746197,35.7,280.4,26162.0